body {
  font-family: 'Roboto', sans-serif;
  background-color: gray;
  color: white;
}

header h1 {
  font-size: 350%;
  color: white;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: lightblue;
  padding: 15px;
  border-radius: 12px;
  width: 98%;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
}

#wrapper {
  width: 850px;
  height: 600px;
  background-color: orange;
  margin: 0 auto;
  overflow: hidden;
}

#canvas {
  width: 700px;
  height: 500px;
  background-color: gray;
  margin: 30px auto;
}

.popup {
  color: black;
}